.Table {
    width: 100%;
    border: 2px solid #ccc;
}

.Table thead td{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 0.5rem;
}
.Table tbody {
    border-top: 2px solid #ccc;
}

.Table tbody tr td {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    padding: 0.4rem;
}